{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link 
    href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
    rel="stylesheet" 
  />
  <link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
  <script 
    src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
  >
  <script defer src="{% static 'js/taco-detail.js' %}"></script>
  <link 
    rel="stylesheet"
    type="text/css" 
    href="{% static 'css/tacos/taco-detail.css' %}"
  />
{% endblock  %}

{% block content %}

<section class="taco-container">
  <div class="taco-img">
    <img 
      class="taco-image"
      src="{% static 'images/taco.png' %}" 
      alt="A png of a taco"
    >
  </div>
  <div class="taco-details">
    <h1>{{ taco.name }}</h1>
    {% if taco.order > 1 %}
      <p>An order of {{ taco.order }} {{ taco.meat }} tacos.</p>
    {% else %}
      <p>A single {{ taco.meat }} taco. </p>
    {% endif %}
    <p><small>{{ taco.description }}</small></p>
  </div>
  <div class="taco-actions">
    <a href="{% url 'taco-update' taco.id %}" class="btn warn">Edit</a>\
    <a href="{% url 'taco-delete' taco.id %}" class="btn danger">Delete</a>
  </div>
</section>

<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Order History</h2>
    </div>
    <h3>Add a Order</h3>
    <form
      action="{% url 'add-feeding' taco.id %}" 
      method="post" 
      class="subsection-content"
			autocomplete="off"
    >
      {% if taco.served_today %}
        <p class="fed">You're full of {{taco.name}} tacos for the day!</p>
      {% else %}
        <p class="unfed">You should cook up some {{taco.name}} tacos!</p>
      {% endif %}
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Order</button>
    </form>
    <h3>Past Orders</h3>
    <table>
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in taco.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock  %}