{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock  %}

{% block content %}

<div>
  {% if taco %}
    <h1>Edit {{ taco.name }}</h1>
  {% else %}
    <h1>Add a Taco</h1>
  {% endif %}
  <img src="{% static 'images/taco.png' %}" alt="A picture of a taco" class="logo">
</div>
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock  %}